.hamburger {
    padding: 20px 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: $green;
    overflow: hidden;
    z-index: 50;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
    &__menu {
        width: 100%;
        height: 500px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        &-item {
            width: 100%;
            height: 250px;
            display: flex;
            align-items: center;
        }
    }
    &__link {
        display: block;
        width: 100%;
        height: 100%;
        text-decoration: none;
        text-align: center;
        font-family: 'Lato Bold';
        font-size: 30px;
        line-height: 30px;
        text-transform: uppercase;
    }
    &__close {
        margin-top: 25px;
        font-size: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}