.header {
	min-height: 63px;
	background-color: $dark-grey;
	position: relative;
	&__wrapper {
		position: fixed;
		top: 0;
		width: 100vw;
		height: 63px;
		display: flex;
		z-index: 10;
		@include align-center-horizontal;
	}
	&__part {
		background-color: $dark-grey;
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	&__menu {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		&-left {
			justify-content: flex-end;
			padding: 0 60px 0 20px;
		}
		&-right {
			justify-content: flex-start;
			padding: 0 20px 0 60px;
		}
	}
	&__menu-item {
		margin: 0 20px;
		z-index: 30;
	}
	&__logo-wrapper {
		background-color: $dark-grey;
		position: absolute;
		bottom: -26px;
		z-index: 20;
		@include align-center-horizontal;
		@include hexagon;
	}
	&__logo {
		display: block;
		position: absolute;
		bottom: 26px;
		width: 64px;
		height: 55px;
		@include align-center-horizontal;
	}
	&__link {
		text-transform: uppercase;
		text-decoration: none;
		font-family: 'Lato Bold';
		font-size: 13px;
		color: $white;
		transition: all 0.3s ease;
		&:hover {
			transition: all 0.3s ease;
			color: $green;
		}
	}
	&__dot {
		width: 2px;
		height: 2px;
		border-radius: 50%;
		background-color: lighten($dark-grey, 15%);
	}
}