/* .portfolio {
    min-height: 721px;
    &__wrapper {
        padding: 11px 20px 0;
    }
    &__hr-first {
        width: 960px;
        margin: 0 auto 78px;
        background-color: $light-grey;
        height: 1px;
        display: flex;
        justify-content: center;
    }
    &__hr-second {
        width: 140px;
        background-color: $white;
        height: 1px;
    }
} */