.slider {
    margin: 0 auto;
    height: 316px;
    border-left: 1px solid darken($green, 5%);
    border-right: 1px solid darken($green, 5%);
    overflow: hidden;
    display: flex;
    position: relative;
    &__inner {
        margin: auto;
        position: relative;
        left: 0;
        display: flex;
        align-items: center;
    }
    &__slide-wrapper {
        min-width: 100%;
        padding: 0 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
    }
    &__photo-wrapper {
        width: 180px;
        height: 206px;
        clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
    }
    &__photo {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    &__descr-wrapper {
        width: 100%;
    }
    &__name {
        font-family: 'Maven Pro regular';
        font-size: 40px;
        color: $white;
        line-height: 40px;
    }
    &__profession {
        font-family: 'Maven Pro regular';
        font-size:24px;
        color: darken($green, 15%);
    }
    &__comment {
        height: 96px;
        margin-top: 10px;
        font-family: 'Lato regular';
        color: $white;
        text-align: justify;
        overflow: auto;
    }
    &__social-bar {
        margin-top: 30px;
        width: 100%;
        display: inline-flex;
        justify-content: flex-end;
    }
    &__social-icon {
        width: 25px;
        height: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba($white, 0.3);
        font-size: 13px;
        transition: all 0.3s ease;
        &:hover {
            transition: all 0.3s ease;
            background-color: rgba($white, 0.7)
        }
    }
    &__social-link {
        text-decoration: none;
        color: $green;
        &:hover {
            color: $green;
        }
    }
    &__dots {
        position: absolute;
        top: -42px;
        left: 30px;
        display: inline-flex;
        align-items: center;
        &:last-child {
            margin-right: 0;
        }
    }
    &__dot {
        width: 6px;
        height: 6px;
        margin-right: 3px;
        background-color: darken($white, 20%);
    }
    &__active-dot {
        background-color: darken($white, 60%);
    }
}

/* .Slider {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 1020px;
    height: 1732px;
    z-index: 128;
  }
  .Rectangle_2_copy_5 {
    background-color: rgb(221, 210, 197);
    position: absolute;
    left: 75px;
    top: 755px;
    width: 6px;
    height: 6px;
    z-index: 127;
  }
  .Rectangle_2_copy_4 {
    background-color: rgb(221, 210, 197);
    position: absolute;
    left: 66px;
    top: 755px;
    width: 6px;
    height: 6px;
    z-index: 126;
  }
  .Rectangle_2_copy_3 {
    background-color: rgb(221, 210, 197);
    position: absolute;
    left: 57px;
    top: 755px;
    width: 6px;
    height: 6px;
    z-index: 125;
  }
  .Rectangle_2_copy_2 {
    background-color: rgb(139, 135, 132);
    position: absolute;
    left: 48px;
    top: 755px;
    width: 6px;
    height: 6px;
    z-index: 124;
  }
  .Rectangle_2_copy {
    background-color: rgb(221, 210, 197);
    position: absolute;
    left: 39px;
    top: 755px;
    width: 6px;
    height: 6px;
    z-index: 123;
  }
  .Rectangle_2 {
    background-color: rgb(221, 210, 197);
    position: absolute;
    left: 30px;
    top: 755px;
    width: 6px;
    height: 6px;
    z-index: 122;
  } */