@import './libs/bootstrap-reboot.min';
@import './libs/fonts';
@import './libs/icomoon';
@import './base/variables';
@import './base/animations';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

h1, h2, h3, p {
    margin: 0;
}

input {
    -webkit-text-fill-color: darken($white, 15%);
    -webkit-box-shadow: 0 0 0px 1000px lighten($dark-grey, 10%) inset;
}

.container {
    width: 1020px;
    margin: 0 auto;
    position: relative;
}

@import './blocks/header';
@import './blocks/portfolio';
@import './blocks/comments';
@import './blocks/slider';
@import './blocks/get-in-touch';
@import './blocks/footer';
@import './blocks/hamburger';
@import './blocks/media';